In [6]:
import pandas as pd
import numpy as np
df = pd.read_excel(r'C:\Users\91901\Downloads\RAW Data with 2 Sheets.xlsx', sheet_name = 'RAW Data 1 For Conversion Rate')
df.head()

,Start Date,End Date,Portfolio name,Currency,Campaign Name,Ad Group Name,Advertised SKU,Advertised ASIN,Impressions,Clicks,...,7 Day Total Sales,Total Advertising Cost of Sales (ACoS),Total Return on Advertising Spend (RoAS),7 Day Total Orders (#),7 Day Total Units (#),7 Day Conversion Rate,7 Day Advertised SKU Units (#),7 Day Other SKU Units (#),7 Day Advertised SKU Sales,7 Day Other SKU Sales
0,2021-02-01,2021-02-24,swades_is,USD,Project Swades TEST Dec 2020,Ad group 1,BRH_INS_LAV_90,B08RBXJ635,173519,100,...,245.70,0.363166,2.753558,10,10,0.100000,10,0,245.70,0.00
1,2021-02-01,2021-02-24,swades_is,USD,Project Swades TEST Dec 2020,Ad group 1,BRH_INS_SAN_90,B08RBXKCV1,99971,89,...,136.65,0.612880,1.631642,5,5,0.056180,5,0,136.65,0.00
2,2021-02-01,2021-02-24,swades_is,USD,Project Swades TEST Dec 2020,Ad group 1,BRH_INS_EUC_90,B08RBT5W8Q,148133,91,...,73.71,1.103649,0.906085,3,3,0.032967,3,0,73.71,0.00
3,2021-02-03,2021-02-24,swades_is,USD,auto_is_san_90,auto_is_san_90,BRH_INS_SAN_90,B08RBXKCV1,37629,73,...,96.58,0.691137,1.446891,4,4,0.054795,3,1,72.01,24.57
4,2021-02-10,2021-02-24,swades_is,USD,brh_is_man_products_p1,brh_is_man_products_p1,BRH_INS_LAV_90,B08RBXJ635,105411,80,...,49.14,1.275539,0.783982,2,2,0.025000,2,0,49.14,0.00

In [7]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 23 columns):
Start Date                                  69 non-null datetime64[ns]
End Date                                    69 non-null datetime64[ns]
Portfolio name                              69 non-null object
Currency                                    69 non-null object
Campaign Name                               69 non-null object
Ad Group Name                               69 non-null object
Advertised SKU                              69 non-null object
Advertised ASIN                             69 non-null object
Impressions                                 69 non-null int64
Clicks                                      69 non-null int64
Click-Thru Rate (CTR)                       69 non-null float64
Cost Per Click (CPC)                        50 non-null float64
Spend                                       69 non-null float64
7 Day Total Sales                           69 non-null float64
Total Advertising Cost of Sales (ACoS)      26 non-null float64
Total Return on Advertising Spend (RoAS)    50 non-null float64
7 Day Total Orders (#)                      69 non-null int64
7 Day Total Units (#)                       69 non-null int64
7 Day Conversion Rate                       50 non-null float64
7 Day Advertised SKU Units (#)              69 non-null int64
7 Day Other SKU Units (#)                   69 non-null int64
7 Day Advertised SKU Sales                  69 non-null float64
7 Day Other SKU Sales                       69 non-null float64
dtypes: datetime64[ns](2), float64(9), int64(6), object(6)
memory usage: 12.5+ KB

In [8]:
df.tail()

,Start Date,End Date,Portfolio name,Currency,Campaign Name,Ad Group Name,Advertised SKU,Advertised ASIN,Impressions,Clicks,...,7 Day Total Sales,Total Advertising Cost of Sales (ACoS),Total Return on Advertising Spend (RoAS),7 Day Total Orders (#),7 Day Total Units (#),7 Day Conversion Rate,7 Day Advertised SKU Units (#),7 Day Other SKU Units (#),7 Day Advertised SKU Sales,7 Day Other SKU Sales
64,2021-02-16,2021-02-24,swades_is,USD,brh_is_man_pt_euc,brh_is_man_pt_euc,BRH_INS_EUC_90,B08RBT5W8Q,99,0,...,0.0,NaN,NaN,0,0,NaN,0,0,0.0,0.0
65,2021-02-17,2021-02-23,swades_is,USD,is_global_all_skus,is_global_all_skus_phrase,BRH_INS_ROS_90,B08RBX526C,323,0,...,0.0,NaN,NaN,0,0,NaN,0,0,0.0,0.0
66,2021-02-18,2021-02-24,swades_is,USD,brh_is_comp_karmaScents,brh_is_comp_karmaScents,BRH_INS_ROS_90,B08RBX526C,195,0,...,0.0,NaN,NaN,0,0,NaN,0,0,0.0,0.0
67,2021-02-19,2021-02-24,swades_is,USD,brh_man_is_yog,brh_man_is_yog_broad,BRH_INS_EUC_90,B08RBT5W8Q,104,0,...,0.0,NaN,NaN,0,0,NaN,0,0,0.0,0.0
68,2021-02-22,2021-02-24,swades_is,USD,brh_is_man_pt_ros,Ad group 1,BRH_INS_ROS_90,B08RBX526C,7,0,...,0.0,NaN,NaN,0,0,NaN,0,0,0.0,0.0

In [27]:
df.pivot_table(index = ['Currency'],
               columns = 'Portfolio name', 
               values = 'Clicks')

Portfolio name  Not grouped     swades_is
Currency
USD                 5234.75  22368.229508

In [30]:
df.pivot_table(index = ['Campaign Name'],
               columns = 'Portfolio name', 
               values = 'Impressions')

Portfolio name                 Not grouped  swades_is
Campaign Name
AE_Product_Targeting                  96.0        NaN
AE_brush_auto_KT                   12956.0        NaN
AE_brush_giftHoliday                 163.0        NaN
Ae_manual_broad                      427.0        NaN
Ae_manual_phrase                    2208.0        NaN
CC Amazon US                          11.0        NaN
Project Swades TEST Dec 2020           NaN   113698.4
ae_bsb_auto_alpha_1                25011.0        NaN
auto_is_euc_90                         NaN    24472.0
auto_is_lav_90                         NaN    35334.0
auto_is_nagc_90                        NaN    42800.0
auto_is_ros_90                         NaN    34115.0
auto_is_san_90                         NaN    37629.0
brh_is_comp_karmaScents                NaN      897.6
brh_is_man_bath                        NaN        2.0
brh_is_man_eo_general                  NaN        3.5
brh_is_man_euc                         NaN     3412.0
brh_is_man_euc_eo                      NaN       49.0
brh_is_man_euc_ranker                  NaN      313.0
brh_is_man_lav                         NaN     9682.5
brh_is_man_lav_eo                      NaN       92.0
brh_is_man_lav_zzz                     NaN      256.0
brh_is_man_med                         NaN     1498.5
brh_is_man_nagc                        NaN    24234.0
brh_is_man_products_p1                 NaN    67855.6
brh_is_man_pt_euc                      NaN       99.0
brh_is_man_pt_lav                      NaN     2309.0
brh_is_man_pt_ros                      NaN        7.0
brh_is_man_pt_san                      NaN     1743.0
brh_is_man_ros                         NaN     2471.0
brh_is_man_san                         NaN     8093.5
brh_man_is_yog                         NaN      109.5
is_global_all_skus                     NaN    13556.1
swades_is_valentines_seasonal          NaN    12069.0
valentines_ae                       1006.0        NaN
valentines_brh                         NaN    26119.0

In [31]:
df.pivot_table(index = ['Ad Group Name'],
               columns = 'Advertised SKU', 
               values = 'Spend')

Advertised SKU,AE_HHSB_M001_1106E,BRH_INS_EUC_90,BRH_INS_LAV_90,BRH_INS_NAGC_90,BRH_INS_ROS_90,BRH_INS_SAN_90,V4-YKF0-7ZJE
Ad Group Name,,,,,,,
Ad group 1,3.916,43.685,60.95,36.88,11.00,83.75,0.0
ae_bsb_auto_alpha_1,17.110,NaN,NaN,NaN,NaN,NaN,NaN
auto_is_euc_90,NaN,21.060,NaN,NaN,NaN,NaN,NaN
auto_is_lav_90,NaN,NaN,37.48,NaN,NaN,NaN,NaN
auto_is_nagc_90,NaN,NaN,NaN,34.42,NaN,NaN,NaN
auto_is_ros_90,NaN,NaN,NaN,NaN,52.87,NaN,NaN
auto_is_san_90,NaN,NaN,NaN,NaN,NaN,66.75,NaN
brh_is_comp_karmaScents,NaN,5.640,2.27,0.85,0.00,0.80,NaN
brh_is_man_bath_broad,NaN,NaN,NaN,NaN,NaN,0.00,NaN
brh_is_man_eo_general_broad,NaN,0.000,0.00,0.00,NaN,0.00,NaN
brh_is_man_euc_eo_broad,NaN,0.000,NaN,NaN,NaN,NaN,NaN
brh_is_man_euc_phrase,NaN,10.190,NaN,NaN,NaN,NaN,NaN
brh_is_man_euc_ranker_phrase,NaN,0.000,NaN,NaN,NaN,NaN,NaN
brh_is_man_lav_eo_broad,NaN,NaN,0.00,NaN,NaN,NaN,NaN
brh_is_man_lav_phrase,NaN,NaN,6.78,NaN,NaN,NaN,NaN
brh_is_man_lav_zzz_broad,NaN,NaN,0.91,NaN,NaN,NaN,NaN
brh_is_man_med_broad,NaN,2.510,NaN,NaN,NaN,1.56,NaN
brh_is_man_nagc_broad,NaN,NaN,NaN,21.52,NaN,NaN,NaN
brh_is_man_nagc_phrase_high,NaN,NaN,NaN,5.07,NaN,NaN,NaN
brh_is_man_products_p1,NaN,47.430,62.68,14.87,5.04,34.23,NaN
brh_is_man_pt_euc,NaN,0.000,NaN,NaN,NaN,NaN,NaN
brh_is_man_pt_lav,NaN,NaN,19.33,NaN,NaN,NaN,NaN
brh_is_man_pt_san,NaN,NaN,NaN,NaN,NaN,20.78,NaN
brh_is_man_ros_broad,NaN,NaN,NaN,NaN,0.00,NaN,NaN
brh_is_man_ros_phrase,NaN,NaN,NaN,NaN,4.61,NaN,NaN
brh_is_man_san_broad,NaN,NaN,NaN,NaN,NaN,6.93,NaN
brh_is_man_san_phrase_high,NaN,NaN,NaN,NaN,NaN,15.58,NaN
brh_man_is_yog_broad,NaN,0.000,0.75,0.00,NaN,0.00,NaN
is_global_all_skus_broad,NaN,20.100,28.17,21.76,6.64,11.68,NaN
is_global_all_skus_phrase,NaN,4.970,8.66,4.93,0.00,2.85,NaN
swades_is_valentines_seasonal_manual,NaN,NaN,NaN,NaN,20.38,NaN,NaN
valentines_ae,4.280,NaN,NaN,NaN,NaN,NaN,NaN
valentines_brh_ros,NaN,NaN,NaN,NaN,39.63,NaN,NaN

In [32]:
df.pivot_table(index = 'Advertised SKU', 
               columns = 'Portfolio name',
               values = '7 Day Advertised SKU Sales ')

Portfolio name      Not grouped  swades_is
Advertised SKU
AE_HHSB_M001_1106E          0.0        NaN
BRH_INS_EUC_90              NaN  14.040000
BRH_INS_LAV_90              NaN  34.020000
BRH_INS_NAGC_90             NaN  14.342000
BRH_INS_ROS_90              NaN  20.102727
BRH_INS_SAN_90              NaN  28.036923
V4-YKF0-7ZJE                0.0        NaN